MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
ADMIN_TOKEN=example-admin-token
JWT_SECRET=example-jwt-secret
API_NINJAS_API_KEY=jsksdfboe
GOOGLE_OAUTH_CLIENT_ID=592602686139-.apps.googleusercontent.com
ID_OAUTH2=592602686139-.apps.googleusercontent.com