MONGO_URI=mongodb+srv://user:pass@cluster0.9dzkoo1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
ADMIN_TOKEN=adminexample
JWT_SECRET=secretexample
API_NINJAS_API_KEY=apikey
GOOGLE_OAUTH_CLIENT_ID=apikey
ID_OAUTH2=apikey
STRIPE_PUBLIC_KEY=stripeKey
STRIPE_PRIVATE_KEY=stripeKey
SMTP_EMAIL=email@gmail.com
SMTP_PASSWORD=AppPassw
STRIPE_WEBHOOK_SECRET=WebhookKey